<div id="step-1" role="tabpanel" class="content fade" aria-labelledby="steppertrigger1">
  <h4>Course details</h4>
  <hr />
  <div class="row g-4">
    <div class="col-12">
      <label class="form-label">Course name</label>
      <input class="form-control" [(ngModel)]="course.name" type="text" placeholder="Enter course name" />
    </div>

    <div class="col-12">
      <label class="form-label">Syllabus</label>
      <textarea class="form-control" [(ngModel)]="course.syllabus" rows="3" placeholder="Enter course syllabus"></textarea>
    </div>

    <div class="col-12">
      <label class="form-label">Course description</label>
      <quill-editor [(ngModel)]="content" [modules]="{ 
        toolbar: [
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block'],
          ['link']
        ] 
      }"></quill-editor>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
